body, html {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    background-color: black;
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
}

#svgContainer, #imgContainer, #backContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 2.5s ease;
}

#status {
    position: absolute;
    top:0;
    width: 100%;
}

svg {
    position: absolute;
    left: 0;
    height: 100%;
}

#backWrapper {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    overflow: hidden;
    transition: 2.5s ease;
}

.frameImg {
    position: absolute;
    left: 0;
}

#attentionValTitle {
    /* display: none; */
    color: aliceblue;
}

#restartButton {
    width: 100px;
    height: 30px;
    background-color: black;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    transition: 0.5s ease;
    text-align:center;
    line-height: 30px;
    z-index:200;
    float: right;
}

#restartButton:hover {
    background-color: white;
    border: 2px solid white;
    color: black;
    cursor: pointer;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.loaded {
    display: none;
}
