body, html {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    background-color: black;
}

#svgContainer, #imgContainer, #backContainer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#backWrapper {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    overflow: hidden;
    transition: 2.5s ease;
}

#svgContainer svg {
    width:100%;
}

.frameImg {
    position: absolute;
    left: 0;
    width: 100%;
}

#attentionValTitle {
    /* display: none; */
    color: aliceblue;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.loaded {
    display: none;
}
